@media (max-width: 979px) and (min-width: 768px) {
	.aui .row-fluid .resource-image-container {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.resource-image-container {
		text-align: center;
	}
	
	.resource-image-container img {
		width: 60%;
	}
}

.table-column-image {
	width: 10%;
}

.resource-image-container img {
		max-width: 50%;
}

.column-image {
	max-width: 100%;
	width: 100%;
}